<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="invoice">
      <h2 data-cy="invoiceDetailsHeading"><span>Invoice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ invoice.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ invoice.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
          <span>{{ invoice.details }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ invoice.status }}</span>
        </dd>
        <dt><span>Payment Method</span></dt>
        <dd>
          <span>{{ invoice.paymentMethod }}</span>
        </dd>
        <dt><span>Payment Date</span></dt>
        <dd>
          <span>{{ invoice.paymentDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Payment Amount</span></dt>
        <dd>
          <span>{{ invoice.paymentAmount }}</span>
        </dd>
        <dt><span>Order</span></dt>
        <dd>
          <div *ngIf="invoice.order">
            <a [routerLink]="['/product-order', invoice.order.id, 'view']">{{ invoice.order.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/invoice', invoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
